# 数据库密码
MYSQL_ROOT_PASSWORD=123456

#
# Container Timezone
#
TZ=Asia/Shanghai

#
# Container package fetch url
#
# Can be empty, followings or others:
# mirrors.163.com
# mirrors.aliyun.com
# mirrors.tencent.com
# mirrors.ustc.edu.cn
# dl-cdn.alpinelinux.org
#
CONTAINER_PACKAGE_URL=mirrors.ustc.edu.cn

#
# Composer url
#
# Can be empty, followings or others:
#
# packagist.laravel-china.org
# packagist.phpcomposer.com
# mirrors.aliyun.com
# mirrors.tencent.com
# repo.packagist.org
COMPOSER_URL=mirrors.tencent.com

#
#ALPINE
#
ALPINE_VERSION=3.12

